$susy: (
    columns: 12,
    gutters: 4,
    math: fluid,
    gutter-position: inside
);

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: $line-height-body-mobile;
    color: $color-body;
    background: $background-body;
    font-family: $font-family-body;
    font-size: $font-size-body-mobile;
    font-weight: $font-weight-body;
    
    @include breakpoint($width-break) {
        line-height: $line-height-body;
        font-size: $font-size-body;
    }
}

#header, #content, .page {
    overflow: hidden;
}

.page {
    @include container($width-container);
    
    padding: $padding-page;
    background: $background-page;

    p {
        margin: $margin-p-page;
    }
}

#header {
    text-align: center;
    
    .title {
        margin: $margin-title;
    }
}

#content {
    margin-top: $margin-section-horizontal;
    
    .page {
        padding: $padding-page-content;
        
        .content-title {
            margin: $margin-title-content;
        }
    }

    #primary {
        @include span(12);
        @include breakpoint($width-break) {
            @include span(8);
        }
    }

    #aside {
        @include span(12);
        @include breakpoint($width-break) {
            @include span(4);
        }
    }
}

#footer {
    margin-top: $margin-section-horizontal;
    line-height: $line-height-footer;
    text-align: center;
    font-style: italic;
}