$color-body-background: #eee;

$color-body-text: #111;

$line-height-mobile: 20px;

$font-family-primary: serif;

$font-size-mobile: 14px;

$font-weight-body: 400;

$break-menu: 700px;

$font-size: 18px;

$line-height: 26px;

$container: 960px;

$white: #ddd;
